<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

    <suite name="All Test Suite">
        <test verbose="2" preserve-order="true" name="C:/Users/IZIBILI GODWIN/Documents/Prightle/projects/Testify/move/Selenium_Webdriver_Automation/Single_page_approach/Deydam/testng.xml">
            <classes>
                <class name="Login.LoginTest">
                    <methods>
                        <include name="teqstSuccessfulLogin"/>
                        <include name="testSuccessfulLogout"/>
                        <include name="testNegativeLogin"/>
                    </methods>
                </class>
            </classes>
        </test>
    </suite>
